@import "tailwindcss";

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-boxShadow {
  box-shadow: 4px 4px 0px 0px #3d3d3d;
  transition: box-shadow 1s ease, background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.custom-boxShadow:hover {
  box-shadow: none;
}


.custom-boxShadow2:hover {
  box-shadow: 6px 6px 0px 0px #00000039;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #5751e1;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.3s ease;
}



.custom-cursor.hidden {
  opacity: 0;
}

.custom-cursor.visible {
  opacity: 1;
}


@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom-in-out {
  animation: zoomInOut 3s ease-in-out infinite;
}

.active{
  color:  #155dfc;
  font-weight: 600;
}


@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}

.animate-up-down {
  animation: upDown 2s ease-in-out infinite;
}



@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}


/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}